@import url('https://fonts.googleapis.com/css2?family=Anton&family=Island+Moments&family=Satisfy&display=swap');

/* 
****Limpar formatações padrão**** 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* 
***********************Layout**************************
*/
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/*
**************Formatacoes em geral****************
*/

.navegacao{
    font-size: 5em;
    margin: 5px 90px 0 0;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
    font-family: 'Anton', sans-serif;
    position: relative;
}

header img{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.navegacao:hover{
    color: hsl(240, 100%, 50%);
    transition: 1s;
}

