*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.helio{
    width: 50%;
    height: 100vh;
    float: left;
}
.jhon{
    width: 50%;
    height: 100vh;
    float: right;
}
img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0%);
    scale: 102%;
    transition: 1s;
}