@import url('https://fonts.googleapis.com/css2?family=Anton&family=Island+Moments&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
header img{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}
nav{
    position: relative;
}
a{
    font-size: 5em;
}
.nave{
    margin: 5px 90px 0 0;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
    font-family: 'Anton', sans-serif;
}
.nave:hover{
    /* background-color: hsl(0, 0%, 30%); */
    color: hsl(240, 100%, 50%);
    transition: 1s;
}